#navigation{
    background-color: #C0C0C0; 
}

#sidebarhead{
    background-color: #A1A1A0; 
}

.principal-container{
    overflow-y:hidden;
}

.md-button.active, .md-clickable.active{
    background-color:#808080;
}

.md-clickable.active{
    background-color: #D0D0D0;
}

.md-button.md-warn.md-raised.md-hue-2.login{
    background-color: #66C977;
    color: white;
    font-weight: bold; 
}

.md-button.md-hue-2.md-warn.md-raised.login:not([disabled]):hover{
    background-color: #009900;
    color: white;
    font-weight: bold; 
}

.md-button.md-warn.md-raised.md-hue-2.register{
    background-color: #FF9933;
    color: white;
    font-weight: bold; 
}

.md-button.md-hue-2.md-warn.md-raised.register:not([disabled]):hover{
    background-color: #CC6600;
    color: white;
    font-weight: bold; 
}

form.register, form.login{
    margin-top: 5%;
}

img#logo{
  max-width:32px;
  max-height:32px;
}

a.button-nav{
    height: 100%;
}

.img-circle {
    border-radius: 50%;
    max-width: 64px!important;
    max-height: 64px!important;
}
