md-toolbar#navigation
  .md-toolbar-tools
    span(flex="80")
      img(src="images/cognizant-logo-sm.png")
      md-button.md-primary(ng-click="home.toggle()" ng-if="home.AuthFactory1.loggedIn" hide-gt-md="" aria-label="Toggle menu")
        i.fa.fa-bars.fa-3x
    md-button(flex="6", ui-sref-active="active", data-ui-sref='home.login', ng-if="!home.AuthFactory1.loggedIn") LogIn
    md-button(flex="6", ui-sref-active="active", data-ui-sref='home.register', ng-if="!home.AuthFactory1.loggedIn") Register
    md-button(flex="6", ng-if="home.AuthFactory1.loggedIn", ng-click="home.logout()") 
      <i class="fa fa-sign-out"></i>({{home.AuthFactory1.user.user}})
md-content(layout="row", layout-fill, flex)
  md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')" ng-if="home.AuthFactory1.loggedIn")
    md-toolbar#sidebarhead(layout="row")
      img.img-circle(flex="30", src="images/Sharingan_infobox_HD.png")
      h1.md-toolbar-tools(flex="70") {{home.AuthFactory1.user.firstName}} {{home.AuthFactory1.user.lastName}}
    md-content(layout-padding="")
      md-list
        md-list-item(ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="setting in home.settings")
          p {{ setting.name }}
  ui-view(layout='row', layout-fill, flex)