md-toolbar#navigation
  .md-toolbar-tools
    span(flex="80")
      img(src="images/cognizant-logo-sm.png")
    md-button(flex="6", ui-sref-active="active", data-ui-sref='home.login', ng-if="!home.AuthFactory1.loggedIn") LogIn
    md-button(flex="6", ui-sref-active="active", data-ui-sref='home.register', ng-if="!home.AuthFactory1.loggedIn") Register
    md-button(flex="6", ng-if="home.AuthFactory1.loggedIn", ng-click="home.logout()") Logout ({{home.AuthFactory1.user.user}})
md-content(layout="row", layout-fill, flex)
  ui-view(layout='row', layout-fill, flex)