md-toolbar#navigation
  .md-toolbar-tools
    span(flex="80")
      img(src="images/cognizant-logo-sm.png")
      md-button.md-primary(ng-click="home.toggle()" ng-if="home.AuthFactory1.loggedIn" hide-gt-md="" aria-label="Toggle menu")
        i.fa.fa-bars.fa-3x
    md-button(flex="6", ui-sref-active="active", data-ui-sref='home.login', ng-if="!home.AuthFactory1.loggedIn") LogIn
    md-button(flex="6", ui-sref-active="active", data-ui-sref='home.register', ng-if="!home.AuthFactory1.loggedIn") Register
    md-button(flex="6", ng-if="home.AuthFactory1.loggedIn", ng-click="home.logout()") Logout ({{home.AuthFactory1.user.user}})
md-content(layout="row", layout-fill, flex)
  md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')" ng-if="home.AuthFactory1.loggedIn")
    md-toolbar#sidebarhead(layout="row")
      img#avatar(flex="20", src="images/cognizant-logo-sm.png")
      h1.md-toolbar-tools(flex="80") {{home.AuthFactory1.user.firstName}} {{home.AuthFactory1.user.lastName}}
      md-button(ng-click="home.close()" class="md-primary" hide-gt-md="") Close
    md-content(layout-padding="")
      p
        | This sidenav is locked open on your device. To go back to the default behavior,
        | narrow your display.
  ui-view(layout='row', layout-fill, flex)