div(layout="row", layout-align="center center")
  form.login(name="loginForm" flex="35", layout="column")
    div(layout="row", layout-align="center center")
      md-input-container(flex="60").md-block(flex-gt-sm)
       label(for="username")
         <i class="fa fa-users"></i> User
       input(type="text", name="username", ng-model="login.form.username", required)
       div(ng-messages="loginForm.username.$error")
         div(ng-message="required") Username is required
    div(layout="row", layout-align="center center")
      md-input-container(flex="60").md-block(flex-gt-sm)
        label(for="password")
          <i class="fa fa-key"></i> Password
        input(type="password", name="password", ng-model="login.form.password", required)
        div(ng-messages="loginForm.password.$error")
          div(ng-message="required") Password is required
    div(layout="row", layout-align="center center")
      md-button.md-warn.md-raised.md-hue-2.login(flex="20") Login
      md-button.md-warn.md-raised.md-hue-2.register(flex="20", data-ui-sref='home.register') SignUp